thead tr {
  position: sticky;
  top: 0;
  background-color: darkgray;
  z-index: 1;

  th {
    padding: 8px 16px;
    min-width: 12.5%;

    p {
      margin: 0;

      &:nth-child(1) {
        margin-bottom: 6px;
      }
    }
  }
}
