@use "../../styles/variables" as *;

.guess-list-item {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  max-width: 200px;
  margin: 16px auto;

  p {
    font-size: x-large;
    margin: 0;
    text-align: center;
  }

  .guess-list-image-container {
    width: 125px;
    height: 125px;
  }
}

.guess-list-item-correct {
  border: solid 8px $correct-border;
}

.guess-list-item-wrong {
  border: solid 8px $wrong-border;
}
