.tweet-button-container {
  display: inline-block;
  text-decoration: none;

  .tweet-button {
    background-color: rgb(29, 155, 240);
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Helvetica Neue";
    color: white;
    border: none;
    padding: 4px 20px;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      background-color: rgb(26, 140, 216);
    }

    &::before {
      content: url(../../assets/misc/twitterLogo.png);
      height: 32px;
      width: 32px;
      margin-right: 8px;
    }
  }
}
