// Genshin element colors
$pyro: #ef7939;
$hydro: #4cc2f0;
$anemo: #74c2a8;
$electro: #af8fc1;
$dendro: #a5c83a;
$cryo: #a0d5e7;
$geo: #fab631;

// correctness colors
$correct: #00a86b;
$partial: #fdee00;
$wrong: #e03c31;

$correct-border: #1c8e64;
$wrong-border: #c75b54;
