@use "./normalize.css";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20vw 40px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  border-radius: 20px;
  background-color: hsla(0, 0%, 96%, 0.75);
  border: 2px solid #deb76c;
  box-shadow: 0 0 20px 1px #f5f5f5;
  padding: 5px 20px;

  h1 {
    margin-bottom: 0;
    text-align: right;
  }

  p {
    text-align: right;
    font-style: italic;
  }

  div {
    flex: 1;
  }
}

body {
  background-image: url(../assets/background/day.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
