@use "./normalize.css";

@font-face {
  font-family: "Genshin Impact";
  src: local("gi-webfont"),
    url("../assets/fonts/gi-webfont.woff") format("woff"),
    url("../assets/fonts/gi-webfont2.woff2") format("woff2");
}

:root {
  font-family: "Genshin Impact";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20vw 40px;
  gap: 32px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  border-radius: 20px;
  background-color: hsla(0, 0%, 96%, 0.75);
  border: 2px solid #deb76c;
  box-shadow: 0 0 20px 1px #f5f5f5;
  padding: 5px 20px;

  h1 {
    margin-bottom: 0;
    text-align: right;
  }

  p {
    text-align: right;
    font-style: italic;
  }

  div {
    flex: 1;
  }
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.dawn-background {
  background-image: url(../assets/background/dawn.jpg);
}

.day-background {
  background-image: url(../assets/background/day.jpg);
}

.dusk-background {
  background-image: url(../assets/background/dusk.jpg);
}

.night-background {
  background-image: url(../assets/background/night.jpg);
}
