.guess-search-bar {
  width: calc(100% + 2px);

  &::placeholder {
    font-style: italic;
  }

  &:disabled {
    filter: invert(1);

    &:hover {
      cursor: not-allowed;
    }

    &:active {
      outline: solid 3px #009eff;
    }
  }
}
