@keyframes slide-container {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

@keyframes slide-container-reverse {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
    margin: 0;
  }
}

@keyframes slide-items {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 50px;
    opacity: 1;
  }
}

@keyframes slide-items-reverse {
  from {
    max-height: 50px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.nav-bar {
  background-color: #faf9f6;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 25px;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: darkgray 0px 4px 20px 0px;
  position: sticky;
  top: 0;
  column-gap: 4px;
  z-index: 1;

  img {
    width: 50px;
  }

  a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: black;

    &:active {
      color: red;
    }

    &:not(:nth-child(1)) {
      transition: transform 0.25s;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }
    }

    &:nth-child(2) {
      margin-left: auto;
    }

    &.active-nav-link {
      border-bottom: solid 2px #deb76c;
    }
  }

  .logo {
    width: 250px;
  }

  .menu-button {
    padding: 0;
    height: 50px;
    background-color: transparent;
    border: none;

    &:active,
    &:focus {
      outline: solid 1px black;
    }

    .menu-button-image {
      width: 50px;
    }
  }

  .responsive-menu-container {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin-top: 8px;
  }

  .show-animation {
    animation-name: slide-container;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    a {
      animation-name: slide-items;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .hide-animation {
    animation-name: slide-container-reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    a {
      animation-name: slide-items-reverse;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@media (max-width: 580px) {
  .nav-bar {
    justify-content: space-between;

    .logo {
      width: 200px;
    }
  }
}
