.summary-container {
  margin: 16px;

  .summary-emojis {
    margin: 0;
    font-size: x-large;
  }
}

@media (max-width: 380px) {
  .summary-container {
    .summary-emojis {
      font-size: large;
    }
  }
}
