@use "../../styles/variables" as *;

.correct {
  background-color: #00a86b;
}

.partial {
  background-color: #fdee00;
}

.wrong {
  background-color: #e03c31;
}

* {
  border: solid 1px red;
}

.table-cell-boolean-single {
  font-size: 3rem;
}

td {
  text-align: center;
  font-size: larger;
  padding: 0 8px;

  img {
    width: auto;
    height: 75px;
  }
}

.table-cell-main-image img {
  height: 130px;
  width: auto;
}

.elemental-text {
  text-shadow: 0 1px black, 0 -1px black, 1px 0 black, -1px 0 black;
}

.pyro-text {
  color: $pyro;
}

.hydro-text {
  color: $hydro;
}

.anemo-text {
  color: $anemo;
}

.electro-text {
  color: $electro;
}

.dendro-text {
  color: $dendro;
}

.cryo-text {
  color: $cryo;
}

.geo-text {
  color: $geo;
}
