.animated-value {
  display: inline-block;

  &.old-transition {
    transition: transform 1s, opacity 0.2s;
  }

  &.new-transition {
    transition: transform 0.15s, opacity 0.5s;
  }

  &.up-old-start,
  &.up-new-end,
  &.down-old-start,
  &.down-new-end {
    transform: translateY(0);
    opacity: 1;
  }

  &.up-old-end,
  &.down-new-start {
    transform: translateY(-100px);
    opacity: 0;
  }

  &.up-new-start,
  &.down-old-end {
    transform: translateY(50px);
    opacity: 0;
  }
}
