@keyframes pulsing-animation {
  0% {
    background-color: darkgray;
  }
  50% {
    background-color: lightgray;
  }
  100% {
    background-color: darkgray;
  }
}

.loading-skeleton {
  margin: 16px 0;
  height: 1.15rem;
  border-radius: 16px;
  background-color: darkgray;
  animation-name: pulsing-animation;
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
