.tooltip-button {
  cursor: pointer;
  background-color: lightgray;

  &:active {
    background-color: #cbcbcb;
    box-shadow: inset 0px 0px 5px #c1c1c1;
  }
}

.arrow-box {
  position: relative;
  background-color: darkgray;
  border: 8px solid #deb76c;
  border-radius: 8px;
  padding: 0 8px;
}
.arrow-box:after,
.arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: darkgray;
  border-width: 18px;
  margin-left: 83px;
}
.arrow-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #deb76c;
  border-width: 30px;
  margin-left: 71.5px;
}
