@use "../../styles/variables" as *;

.tooltip-container {
  position: fixed;
  bottom: 30px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.tooltip-button {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 30px;
  position: relative;
  border: 4px solid darkgray;
  right: 19.5px;
  align-self: end;
  width: 50px;
  height: 50px;
  transition: transform 0.25s;

  &:active {
    background-color: #cbcbcb;
    box-shadow: inset 0px 0px 5px #c1c1c1;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.tooltip-correct {
  color: $correct;
}

.tooltip-partial {
  color: $partial;
}

.tooltip-wrong {
  color: $wrong;
}

.tooltip-birthday {
  margin-left: 16px;
  font-size: 0.9rem;
}

.arrow-box {
  position: relative;
  background-color: darkgray;
  border: 8px solid #deb76c;
  border-radius: 8px;
  padding: 0 8px;
  width: 250px;
}
.arrow-box:after,
.arrow-box:before {
  top: 100%;
  left: 45%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: darkgray;
  border-width: 30px;
  margin-left: 79.5px;
}
.arrow-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #deb76c;
  border-width: 44px;
  margin-left: 65.5px;
}
