.game-area-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  width: 60vw;
  background-color: hsla(0, 0%, 96%, 0.75);
  border: 8px solid #deb76c;
  box-shadow: 0 0 20px 1px #f5f5f5;

  .game-area-top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 16px;
    width: 100%;
  }
}
