.game-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scroll-margin-top: 135px;
  margin-top: 32px;

  .game-complete-paimon {
    width: 100%;
    max-width: 400px;
  }
}
