.game-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .game-complete-paimon {
    width: 100%;
    max-width: 400px;
  }

  .emoji-container {
    margin: 16px;

    .results-emojis {
      margin: 0;
      font-size: x-large;
    }
  }
}

@media (max-width: 380px) {
  .game-complete-container {
    .emoji-container {
      .results-emojis {
        font-size: large;
      }
    }
  }
}
